@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap');

/* Estilos Generales */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(59, 59, 59);

}

/* Estilos de texto e imagen */

.contenedor{
    display: flex;
    justify-content: space-around;
    height: 650px;
    align-items: center;
    overflow: hidden;
}
.contenedor_textos{
    color: white;
    text-align: center;
    width: 40%;

}

.contenedor_textos h1{
    font-size: 50px;
}

.contenedor_textos p{
    margin: 15px, 0, 30px, 0;
    font-size: 20px;
}

.contenedor_ilustraciones{
    width: 50%;
    height: inherit;
    display: flex;
    justify-content: center;
    position: relative;

}

.Forma{
    position: absolute;
    z-index: -1;
    right: 0;
    width: 90%;

}

.contenedor_ilustraciones :nth-child(1){
    width: 90%;
}

.accion{
    display: inline-block;
    background-color: coral;
    padding: 15px 0;
    width: 150px;
    color:black;
    border-radius: 25px;
    text-decoration: none;
}

.ilustracion{
    width: 80%;
    margin-left: 50px;
}







